examples/bufferutils.json
[{"id":"620789e8.d85028","type":"buffer-manipulation","z":"c9b32e78.d8125","name":"","action":"create","buffer1Field":"payload","buffer2Field":"payload","outputField":"payload","encoding":"utf8","encoding2":"utf8","start":0,"start2":0,"end":0,"length":"10","fill":"5","index":0,"string":"","x":490,"y":80,"wires":[["ad62c305.af2ac"]]},{"id":"504177a4.a9bab8","type":"inject","z":"c9b32e78.d8125","name":"Create new buffer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":80,"wires":[["620789e8.d85028"]]},{"id":"ad62c305.af2ac","type":"debug","z":"c9b32e78.d8125","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":660,"y":80,"wires":[]},{"id":"aad0f7f3.e2e048","type":"comment","z":"c9b32e78.d8125","name":"5 als fill geeft 0x5 (klopt dat??)","info":"","x":290,"y":40,"wires":[]},{"id":"78cb48ed.bda288","type":"buffer-manipulation","z":"c9b32e78.d8125","name":"","action":"bytelength","buffer1Field":"payload","buffer2Field":"payload","outputField":"payload","encoding":"utf8","encoding2":"utf8","start":0,"start2":0,"end":0,"length":"10","fill":"5","index":0,"string":"","x":480,"y":140,"wires":[["d0b57463.81a768"]]},{"id":"99d76255.658a","type":"inject","z":"c9b32e78.d8125","name":"Get byte length","topic":"","payload":"[1,2,3,4,5,6,7,8,9,10]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":140,"wires":[["78cb48ed.bda288"]]},{"id":"d0b57463.81a768","type":"debug","z":"c9b32e78.d8125","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":140,"wires":[]},{"id":"6cad5e51.4b8dd","type":"buffer-manipulation","z":"c9b32e78.d8125","name":"","action":"compare","buffer1Field":"payload.buffer1","buffer2Field":"payload.buffer2","outputField":"payload","encoding":"utf8","encoding2":"utf8","start":0,"start2":0,"end":0,"length":"10","fill":"5","index":0,"string":"","x":700,"y":200,"wires":[["2d07afb0.627a2"]]},{"id":"966d4c55.145bd","type":"inject","z":"c9b32e78.d8125","name":"Test identical buffers","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":200,"wires":[["dcf80b28.90a218"]]},{"id":"2d07afb0.627a2","type":"debug","z":"c9b32e78.d8125","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":880,"y":200,"wires":[]},{"id":"dcf80b28.90a218","type":"change","z":"c9b32e78.d8125","name":"Buffer 1 = Buffer 2","rules":[{"t":"set","p":"payload.buffer1","pt":"msg","to":"[1,2,3,4,5,6,7,8,9,10]","tot":"bin"},{"t":"set","p":"payload.buffer2","pt":"msg","to":"[1,2,3,4,5,6,7,8,9,10]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":200,"wires":[["6cad5e51.4b8dd"]]},{"id":"38e26952.82ee96","type":"inject","z":"c9b32e78.d8125","name":"Test identical buffers","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":260,"wires":[["a4d845c4.99c3c8"]]},{"id":"a4d845c4.99c3c8","type":"change","z":"c9b32e78.d8125","name":"Buffer 1 != Buffer 2","rules":[{"t":"set","p":"payload.buffer1","pt":"msg","to":"[1,2,3,4,5,6,7,8,9,10]","tot":"bin"},{"t":"set","p":"payload.buffer2","pt":"msg","to":"[10,9,8,7,6,5,4,3,2,1]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":260,"wires":[["6cad5e51.4b8dd"]]},{"id":"d7774ef8.8d043","type":"buffer-manipulation","z":"c9b32e78.d8125","name":"","action":"concat","buffer1Field":"payload","buffer2Field":"payload","outputField":"payload","arrayField":"payload","encoding":"utf8","encoding2":"utf8","start":0,"start2":0,"end":0,"length":"12","fill":"5","index":0,"string":"","x":740,"y":320,"wires":[["940a26ed.191098"]]},{"id":"352b9457.12972c","type":"inject","z":"c9b32e78.d8125","name":"Concatenate buffers","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":320,"wires":[["a04824eb.43dc28"]]},{"id":"940a26ed.191098","type":"debug","z":"c9b32e78.d8125","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":320,"wires":[]},{"id":"a04824eb.43dc28","type":"function","z":"c9b32e78.d8125","name":"Add 3 buffers to array","func":"msg.payload.push(Buffer.from([0x1, 0x2, 0x3]));\nmsg.payload.push(Buffer.from([0x4, 0x5, 0x6]));\nmsg.payload.push(Buffer.from([0x7, 0x8, 0x9]));\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":320,"wires":[["d7774ef8.8d043"]]},{"id":"e17c91e1.82e66","type":"buffer-manipulation","z":"c9b32e78.d8125","name":"","action":"concatlength","buffer1Field":"payload","buffer2Field":"payload","outputField":"payload","arrayField":"payload","encoding":"utf8","encoding2":"utf8","start":0,"start2":0,"end":0,"length":"12","fill":"5","index":0,"string":"","x":820,"y":360,"wires":[["ef848e85.482f4"]]},{"id":"4c639018.3e9c7","type":"inject","z":"c9b32e78.d8125","name":"Concatenate buffers to length","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":360,"wires":[["4e6bd1db.cad13"]]},{"id":"ef848e85.482f4","type":"debug","z":"c9b32e78.d8125","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":990,"y":360,"wires":[]},{"id":"4e6bd1db.cad13","type":"function","z":"c9b32e78.d8125","name":"Add 3 buffers to array","func":"msg.payload.push(Buffer.from([0x1, 0x2, 0x3]));\nmsg.payload.push(Buffer.from([0x4, 0x5, 0x6]));\nmsg.payload.push(Buffer.from([0x7, 0x8, 0x9]));\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":360,"wires":[["e17c91e1.82e66"]]},{"id":"f9fb890e.2fb988","type":"buffer-manipulation","z":"c9b32e78.d8125","name":"","action":"copy","buffer1Field":"payload","buffer2Field":"payload","outputField":"payload","arrayField":"payload","encoding":"utf8","encoding2":"utf8","start":0,"start2":0,"end":0,"length":"10","fill":"5","index":0,"string":"","x":460,"y":420,"wires":[["cfc1b0d8.90b8b"]]},{"id":"cfc1b0d8.90b8b","type":"debug","z":"c9b32e78.d8125","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":660,"y":420,"wires":[]},{"id":"7014da77.10e774","type":"inject","z":"c9b32e78.d8125","name":"Copy buffer","topic":"","payload":"[1,2,3,4,5,6,7,8,9,10]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":420,"wires":[["f9fb890e.2fb988"]]},{"id":"d5293bea.337048","type":"buffer-manipulation","z":"c9b32e78.d8125","name":"","action":"copypart","buffer1Field":"payload","buffer2Field":"payload","outputField":"payload","arrayField":"payload","encoding":"utf8","encoding2":"utf8","start":"2","start2":0,"end":"6","length":"10","fill":"5","index":0,"string":"","x":480,"y":480,"wires":[["50d0d88.1a8d928"]]},{"id":"13ab987b.30e438","type":"inject","z":"c9b32e78.d8125","name":"Copy buffer partly","topic":"","payload":"[1,2,3,4,5,6,7,8,9,10]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":480,"wires":[["d5293bea.337048"]]},{"id":"50d0d88.1a8d928","type":"debug","z":"c9b32e78.d8125","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":480,"wires":[]},{"id":"ef822a63.61e9d8","type":"comment","z":"c9b32e78.d8125","name":"HOE WERKT DEZE ???","info":"","x":860,"y":480,"wires":[]},{"id":"b220be53.b2cc8","type":"buffer-manipulation","z":"c9b32e78.d8125","name":"","action":"isEncoding","buffer1Field":"payload","buffer2Field":"payload","outputField":"payload","arrayField":"payload","encoding":"binary","encoding2":"utf8","start":"2","start2":0,"end":"6","length":"10","fill":"5","index":0,"string":"","x":520,"y":540,"wires":[["74dc8b70.9c5f84"]]},{"id":"7ef4cd5d.9beb14","type":"inject","z":"c9b32e78.d8125","name":"Is encoding supported","topic":"","payload":"[1,2,3,4,5,6,7,8,9,10]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":540,"wires":[["b220be53.b2cc8"]]},{"id":"74dc8b70.9c5f84","type":"debug","z":"c9b32e78.d8125","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":540,"wires":[]},{"id":"be08e7a3.fcadb8","type":"buffer-manipulation","z":"c9b32e78.d8125","name":"","action":"get","buffer1Field":"payload","buffer2Field":"payload","outputField":"payload","arrayField":"payload","encoding":"binary","encoding2":"utf8","start":"2","start2":0,"end":"6","length":"10","fill":"5","index":"3","string":"","x":520,"y":580,"wires":[["4d3eb040.75c91"]]},{"id":"ecd7fd2f.d94a4","type":"inject","z":"c9b32e78.d8125","name":"Get value at index","topic":"","payload":"[1,2,3,4,5,6,7,8,9,10]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":580,"wires":[["be08e7a3.fcadb8"]]},{"id":"4d3eb040.75c91","type":"debug","z":"c9b32e78.d8125","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":580,"wires":[]},{"id":"2c806df4.fb2612","type":"buffer-manipulation","z":"c9b32e78.d8125","name":"","action":"set","buffer1Field":"payload","buffer2Field":"payload","outputField":"payload","arrayField":"payload","encoding":"binary","encoding2":"utf8","start":"2","start2":0,"end":"6","length":"10","fill":"9","index":"3","string":"","x":520,"y":620,"wires":[["51c112c4.9ebd5c"]]},{"id":"1cb95817.40b8b8","type":"inject","z":"c9b32e78.d8125","name":"Set value at index","topic":"","payload":"[1,2,3,4,5,6,7,8,9,10]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":620,"wires":[["2c806df4.fb2612"]]},{"id":"51c112c4.9ebd5c","type":"debug","z":"c9b32e78.d8125","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":620,"wires":[]},{"id":"ebfd8603.45cc98","type":"buffer-manipulation","z":"c9b32e78.d8125","name":"","action":"equals","buffer1Field":"payload.buffer1","buffer2Field":"payload.buffer2","outputField":"payload","arrayField":"payload","encoding":"binary","encoding2":"utf8","start":"2","start2":0,"end":"6","length":"10","fill":"9","index":"3","string":"","x":800,"y":700,"wires":[["18a310e3.09d2af"]]},{"id":"18a310e3.09d2af","type":"debug","z":"c9b32e78.d8125","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":700,"wires":[]},{"id":"ed189f8e.0c071","type":"inject","z":"c9b32e78.d8125","name":"Test identical buffers","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":700,"wires":[["8c25464b.ff45b8"]]},{"id":"8c25464b.ff45b8","type":"change","z":"c9b32e78.d8125","name":"Buffer 1 = Buffer 2","rules":[{"t":"set","p":"payload.buffer1","pt":"msg","to":"[1,2,3,4,5,6,7,8,9,10]","tot":"bin"},{"t":"set","p":"payload.buffer2","pt":"msg","to":"[1,2,3,4,5,6,7,8,9,10]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":700,"wires":[["ebfd8603.45cc98"]]},{"id":"e56ea508.c12a38","type":"inject","z":"c9b32e78.d8125","name":"Test identical buffers","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":740,"wires":[["dc00cd6a.ba349"]]},{"id":"dc00cd6a.ba349","type":"change","z":"c9b32e78.d8125","name":"Buffer 1 != Buffer 2","rules":[{"t":"set","p":"payload.buffer1","pt":"msg","to":"[1,2,3,4,5,6,7,8,9,10]","tot":"bin"},{"t":"set","p":"payload.buffer2","pt":"msg","to":"[10,9,8,7,6,5,4,3,2,1]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":740,"wires":[["ebfd8603.45cc98"]]},{"id":"7c97761d.032a68","type":"buffer-manipulation","z":"c9b32e78.d8125","name":"","action":"fill","buffer1Field":"payload","buffer2Field":"payload","outputField":"payload","arrayField":"payload","encoding":"utf8","encoding2":"utf8","start":"2","start2":0,"end":"6","length":"10","fill":"3","index":"3","string":"","x":510,"y":800,"wires":[["4ae3ed89.c24084"]]},{"id":"f2f24ea3.16bc3","type":"inject","z":"c9b32e78.d8125","name":"Fill buffer","topic":"","payload":"[1,2,3,4,5,6,7,8,9,10]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":800,"wires":[["7c97761d.032a68"]]},{"id":"4ae3ed89.c24084","type":"debug","z":"c9b32e78.d8125","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":800,"wires":[]},{"id":"aea92719.8a0988","type":"buffer-manipulation","z":"c9b32e78.d8125","name":"","action":"fillpart","buffer1Field":"payload","buffer2Field":"payload","outputField":"payload","arrayField":"payload","encoding":"utf8","encoding2":"utf8","start":"2","start2":0,"end":"6","length":"10","fill":"3","index":"3","string":"","x":510,"y":840,"wires":[["a97e7e29.822b4"]]},{"id":"1342d324.92879d","type":"inject","z":"c9b32e78.d8125","name":"Fill buffer partly","topic":"","payload":"[1,2,3,4,5,6,7,8,9,10]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":840,"wires":[["aea92719.8a0988"]]},{"id":"a97e7e29.822b4","type":"debug","z":"c9b32e78.d8125","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":840,"wires":[]},{"id":"9e8e408.2d1dbc","type":"comment","z":"c9b32e78.d8125","name":"End index is not included!","info":"","x":910,"y":840,"wires":[]},{"id":"49f3467c.642a48","type":"buffer-manipulation","z":"c9b32e78.d8125","name":"","action":"indexof","buffer1Field":"payload","buffer2Field":"payload","outputField":"result","arrayField":"payload","encoding":"utf8","encoding2":"utf8","start":"4","start2":0,"end":"6","length":"10","fill":"3","index":"3","string":"","x":530,"y":900,"wires":[["3540da2f.555996"]]},{"id":"6bf6c070.f4c74","type":"inject","z":"c9b32e78.d8125","name":"Find first index of","topic":"","payload":"[1,2,3,4,1,2,3,4,1,2,3,4,1,2,3,4]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":900,"wires":[["49f3467c.642a48"]]},{"id":"3540da2f.555996","type":"debug","z":"c9b32e78.d8125","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":900,"wires":[]},{"id":"a731854d.598958","type":"buffer-manipulation","z":"c9b32e78.d8125","name":"","action":"allindexof","buffer1Field":"payload","buffer2Field":"payload","outputField":"result","arrayField":"payload","encoding":"utf8","encoding2":"utf8","start":"4","start2":0,"end":"6","length":"10","fill":"3","index":"3","string":"","x":530,"y":940,"wires":[["74549a77.f22884"]]},{"id":"e8d60660.fc5e48","type":"inject","z":"c9b32e78.d8125","name":"Find all indexes of","topic":"","payload":"[1,2,3,4,1,2,3,4,1,2,3,4,1,2,3,4]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":940,"wires":[["a731854d.598958"]]},{"id":"74549a77.f22884","type":"debug","z":"c9b32e78.d8125","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":940,"wires":[]},{"id":"490c5e06.7f136","type":"buffer-manipulation","z":"c9b32e78.d8125","name":"","action":"lastindexof","buffer1Field":"payload","buffer2Field":"payload","outputField":"result","arrayField":"payload","encoding":"utf8","encoding2":"utf8","start":"4","start2":0,"end":"6","length":"10","fill":"3","index":"3","string":"","x":530,"y":980,"wires":[["4df03b54.d47854"]]},{"id":"aeed22c4.e5c5b","type":"inject","z":"c9b32e78.d8125","name":"Find last index of","topic":"","payload":"[1,2,3,4,1,2,3,4,1,2,3,4,1,2,3,4]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":980,"wires":[["490c5e06.7f136"]]},{"id":"4df03b54.d47854","type":"debug","z":"c9b32e78.d8125","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":980,"wires":[]},{"id":"a3d279b.6789788","type":"comment","z":"c9b32e78.d8125","name":"Deze lijkt de eerste indexof te geven ...","info":"","x":970,"y":980,"wires":[]},{"id":"557ca39e.f9f08c","type":"buffer-manipulation","z":"c9b32e78.d8125","name":"","action":"length","buffer1Field":"payload","buffer2Field":"payload","outputField":"result","arrayField":"payload","encoding":"utf8","encoding2":"utf8","start":"4","start2":0,"end":"6","length":"10","fill":"3","index":"3","string":"","x":530,"y":1020,"wires":[["6dd51b0b.0a3524"]]},{"id":"bd95c9e9.196de8","type":"inject","z":"c9b32e78.d8125","name":"Get buffer length","topic":"","payload":"[1,2,3,4,5,6,7,8,9,10]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":1020,"wires":[["557ca39e.f9f08c"]]},{"id":"6dd51b0b.0a3524","type":"debug","z":"c9b32e78.d8125","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":1020,"wires":[]},{"id":"6d8228aa.4bdc98","type":"buffer-manipulation","z":"c9b32e78.d8125","name":"","action":"slice","buffer1Field":"payload","buffer2Field":"payload","outputField":"result","arrayField":"payload","encoding":"utf8","encoding2":"utf8","start":"4","start2":0,"end":"6","length":"10","fill":"3","index":"3","string":"","x":530,"y":1060,"wires":[["627d98e4.e072c8"]]},{"id":"7ddec04d.3a15f","type":"inject","z":"c9b32e78.d8125","name":"Get buffer slice","topic":"","payload":"[1,2,3,4,5,6,7,8,9,10]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":1060,"wires":[["6d8228aa.4bdc98"]]},{"id":"627d98e4.e072c8","type":"debug","z":"c9b32e78.d8125","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":1060,"wires":[]},{"id":"9e4f4428.619968","type":"comment","z":"c9b32e78.d8125","name":"End index is not included!","info":"","x":930,"y":1060,"wires":[]},{"id":"726b8bac.f473f4","type":"buffer-manipulation","z":"c9b32e78.d8125","name":"","action":"tojson","buffer1Field":"payload","buffer2Field":"payload","outputField":"result","arrayField":"payload","encoding":"utf8","encoding2":"utf8","start":"4","start2":0,"end":"6","length":"10","fill":"3","index":"3","string":"","x":530,"y":1100,"wires":[["3c192740.b9caf8"]]},{"id":"d1880f46.95a7a","type":"inject","z":"c9b32e78.d8125","name":"Buffer to JSON","topic":"","payload":"[1,2,3,4,5,6,7,8,9,10]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":1100,"wires":[["726b8bac.f473f4"]]},{"id":"3c192740.b9caf8","type":"debug","z":"c9b32e78.d8125","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":1100,"wires":[]},{"id":"2b4ff082.1c02a","type":"comment","z":"c9b32e78.d8125","name":"Is de output wel JSON object ???","info":"Vergelijk met https://www.w3schools.com/nodejs/shownodejs_cmd.asp?filename=demo_met_buffer_tojson","x":930,"y":1100,"wires":[]},{"id":"1d151a6f.ffed36","type":"buffer-manipulation","z":"c9b32e78.d8125","name":"","action":"tostring","buffer1Field":"payload","buffer2Field":"payload","outputField":"result","arrayField":"payload","encoding":"utf8","encoding2":"utf8","start":"8","start2":0,"end":"19","length":"10","fill":"3","index":"3","string":"","x":530,"y":1140,"wires":[["19f15fcf.aacd7"]]},{"id":"faea1826.991208","type":"inject","z":"c9b32e78.d8125","name":"Buffer to string","topic":"","payload":"[84,104,105,115,32,105,115,32,104,101,108,108,111,32,119,111,114,108,100]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":1140,"wires":[["1d151a6f.ffed36"]]},{"id":"19f15fcf.aacd7","type":"debug","z":"c9b32e78.d8125","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":1140,"wires":[]},{"id":"2945f332.69d1dc","type":"buffer-manipulation","z":"c9b32e78.d8125","name":"","action":"write","buffer1Field":"payload","buffer2Field":"payload","outputField":"result","arrayField":"payload","encoding":"utf8","encoding2":"utf8","start":"8","start2":0,"end":"19","length":"12","fill":"3","index":"3","string":"hello world","x":530,"y":1180,"wires":[["7995501.057b3b"]]},{"id":"aeda6f9a.5664d","type":"inject","z":"c9b32e78.d8125","name":"Write string to buffer","topic":"","payload":"[84,104,105,115,32,105,115,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":1180,"wires":[["2945f332.69d1dc"]]},{"id":"7995501.057b3b","type":"debug","z":"c9b32e78.d8125","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":1180,"wires":[]},{"id":"f7009754.a9ac48","type":"buffer-manipulation","z":"c9b32e78.d8125","name":"","action":"transcode","buffer1Field":"payload","buffer2Field":"payload","outputField":"result","arrayField":"payload","encoding":"utf8","encoding2":"binary","start":"8","start2":0,"end":"19","length":"12","fill":"3","index":"3","string":"hello world","x":530,"y":1220,"wires":[["7b96103c.a9b19"]]},{"id":"9284165d.ba1538","type":"inject","z":"c9b32e78.d8125","name":"Transcode buffer encoding","topic":"","payload":"[84,104,105,115,32,105,115,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":1220,"wires":[["f7009754.a9ac48"]]},{"id":"7b96103c.a9b19","type":"debug","z":"c9b32e78.d8125","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":1220,"wires":[]},{"id":"bf13ad8b.2e56c","type":"change","z":"c9b32e78.d8125","name":"Binary buffers","rules":[{"t":"set","p":"payload.buffer1","pt":"msg","to":"[0, 1, 0, 1]","tot":"bin"},{"t":"set","p":"payload.buffer2","pt":"msg","to":"[1, 1, 0, 0]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1340,"wires":[["5401e658.34cf18"]]},{"id":"b5d8ad30.fedbc","type":"inject","z":"c9b32e78.d8125","name":"Bitwise AND","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1340,"wires":[["bf13ad8b.2e56c"]]},{"id":"c04d9f9a.7c4d3","type":"debug","z":"c9b32e78.d8125","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":830,"y":1340,"wires":[]},{"id":"5401e658.34cf18","type":"buffer-manipulation","z":"c9b32e78.d8125","name":"","action":"and","buffer1Field":"payload.buffer1","buffer2Field":"payload.buffer2","outputField":"result","arrayField":"payload","encoding":"utf8","encoding2":"binary","start":"8","start2":0,"end":"19","length":"12","fill":"3","index":"3","string":"hello world","x":650,"y":1340,"wires":[["c04d9f9a.7c4d3"]]},{"id":"ca6ceea3.e5f64","type":"change","z":"c9b32e78.d8125","name":"Binary buffers","rules":[{"t":"set","p":"payload.buffer1","pt":"msg","to":"[0, 1, 0, 1]","tot":"bin"},{"t":"set","p":"payload.buffer2","pt":"msg","to":"[1, 1, 0, 0]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1380,"wires":[["14fab3f7.b5e2ec"]]},{"id":"a704f0b7.61793","type":"inject","z":"c9b32e78.d8125","name":"Bitwise NAND","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1380,"wires":[["ca6ceea3.e5f64"]]},{"id":"489b5a4c.9e4a24","type":"debug","z":"c9b32e78.d8125","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":830,"y":1380,"wires":[]},{"id":"14fab3f7.b5e2ec","type":"buffer-manipulation","z":"c9b32e78.d8125","name":"","action":"nand","buffer1Field":"payload.buffer1","buffer2Field":"payload.buffer2","outputField":"result","arrayField":"payload","encoding":"utf8","encoding2":"binary","start":"8","start2":0,"end":"19","length":"12","fill":"3","index":"3","string":"hello world","x":650,"y":1380,"wires":[["489b5a4c.9e4a24"]]},{"id":"20f8055f.dbab7a","type":"comment","z":"c9b32e78.d8125","name":"Dit geeft 255's ipv 1's","info":"","x":1020,"y":1380,"wires":[]},{"id":"34cc3943.af0876","type":"change","z":"c9b32e78.d8125","name":"Binary buffers","rules":[{"t":"set","p":"payload.buffer1","pt":"msg","to":"[0, 1, 0, 1]","tot":"bin"},{"t":"set","p":"payload.buffer2","pt":"msg","to":"[1, 1, 0, 0]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1420,"wires":[["d7faaa53.66a2e8"]]},{"id":"77c6b21f.b3556c","type":"inject","z":"c9b32e78.d8125","name":"Bitwise OR","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":1420,"wires":[["34cc3943.af0876"]]},{"id":"89a32995.c96378","type":"debug","z":"c9b32e78.d8125","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":830,"y":1420,"wires":[]},{"id":"d7faaa53.66a2e8","type":"buffer-manipulation","z":"c9b32e78.d8125","name":"","action":"or","buffer1Field":"payload.buffer1","buffer2Field":"payload.buffer2","outputField":"result","arrayField":"payload","encoding":"utf8","encoding2":"binary","start":"8","start2":0,"end":"19","length":"12","fill":"3","index":"3","string":"hello world","x":650,"y":1420,"wires":[["89a32995.c96378"]]},{"id":"22422fa3.7f2a5","type":"change","z":"c9b32e78.d8125","name":"Binary buffers","rules":[{"t":"set","p":"payload.buffer1","pt":"msg","to":"[0, 1, 0, 1]","tot":"bin"},{"t":"set","p":"payload.buffer2","pt":"msg","to":"[1, 1, 0, 0]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1460,"wires":[["9b274ed7.4da3"]]},{"id":"75ac9e51.383bd","type":"inject","z":"c9b32e78.d8125","name":"Bitwise NOR","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1460,"wires":[["22422fa3.7f2a5"]]},{"id":"85ffcda4.9cafa","type":"debug","z":"c9b32e78.d8125","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":830,"y":1460,"wires":[]},{"id":"9b274ed7.4da3","type":"buffer-manipulation","z":"c9b32e78.d8125","name":"","action":"nor","buffer1Field":"payload.buffer1","buffer2Field":"payload.buffer2","outputField":"result","arrayField":"payload","encoding":"utf8","encoding2":"binary","start":"8","start2":0,"end":"19","length":"12","fill":"3","index":"3","string":"hello world","x":650,"y":1460,"wires":[["85ffcda4.9cafa"]]},{"id":"7edec89.0557638","type":"comment","z":"c9b32e78.d8125","name":"Dit geeft 255's ipv 1's","info":"","x":1020,"y":1460,"wires":[]},{"id":"d424e306.3ff06","type":"change","z":"c9b32e78.d8125","name":"Binary buffers","rules":[{"t":"set","p":"payload.buffer1","pt":"msg","to":"[0, 1, 0, 1]","tot":"bin"},{"t":"set","p":"payload.buffer2","pt":"msg","to":"[1, 1, 0, 0]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1500,"wires":[["68480e9e.1c1ff"]]},{"id":"8ca7c610.f3ec28","type":"inject","z":"c9b32e78.d8125","name":"Bitwise XOR","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1500,"wires":[["d424e306.3ff06"]]},{"id":"aa2defe5.b39f3","type":"debug","z":"c9b32e78.d8125","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":830,"y":1500,"wires":[]},{"id":"68480e9e.1c1ff","type":"buffer-manipulation","z":"c9b32e78.d8125","name":"","action":"xor","buffer1Field":"payload.buffer1","buffer2Field":"payload.buffer2","outputField":"result","arrayField":"payload","encoding":"utf8","encoding2":"binary","start":"8","start2":0,"end":"19","length":"12","fill":"3","index":"3","string":"hello world","x":650,"y":1500,"wires":[["aa2defe5.b39f3"]]},{"id":"9370a16f.58a19","type":"change","z":"c9b32e78.d8125","name":"Binary buffers","rules":[{"t":"set","p":"payload.buffer1","pt":"msg","to":"[0, 1, 0, 1]","tot":"bin"},{"t":"set","p":"payload.buffer2","pt":"msg","to":"[1, 1, 0, 0]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1540,"wires":[["5804c48.b63523c"]]},{"id":"e62f8c8e.c2c67","type":"inject","z":"c9b32e78.d8125","name":"Bitwise XNOR","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1540,"wires":[["9370a16f.58a19"]]},{"id":"c072096a.99ca28","type":"debug","z":"c9b32e78.d8125","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":830,"y":1540,"wires":[]},{"id":"5804c48.b63523c","type":"buffer-manipulation","z":"c9b32e78.d8125","name":"","action":"xnor","buffer1Field":"payload.buffer1","buffer2Field":"payload.buffer2","outputField":"result","arrayField":"payload","encoding":"utf8","encoding2":"binary","start":"8","start2":0,"end":"19","length":"12","fill":"3","index":"3","string":"hello world","x":650,"y":1540,"wires":[["c072096a.99ca28"]]},{"id":"ef1085f4.9a5048","type":"change","z":"c9b32e78.d8125","name":"Binary buffers","rules":[{"t":"set","p":"payload.buffer1","pt":"msg","to":"[0, 1, 0, 1]","tot":"bin"},{"t":"set","p":"payload.buffer2","pt":"msg","to":"[1, 1, 0, 0]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1580,"wires":[["ff02bbaf.5e4be8"]]},{"id":"6820b20f.7d976c","type":"inject","z":"c9b32e78.d8125","name":"Bitwise NOT","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1580,"wires":[["ef1085f4.9a5048"]]},{"id":"3c2d81ef.ba8dbe","type":"debug","z":"c9b32e78.d8125","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":830,"y":1580,"wires":[]},{"id":"ff02bbaf.5e4be8","type":"buffer-manipulation","z":"c9b32e78.d8125","name":"","action":"not","buffer1Field":"payload.buffer1","buffer2Field":"payload.buffer2","outputField":"result","arrayField":"payload","encoding":"utf8","encoding2":"binary","start":"8","start2":0,"end":"19","length":"12","fill":"3","index":"3","string":"hello world","x":650,"y":1580,"wires":[["3c2d81ef.ba8dbe"]]},{"id":"b4bc1018.8b1e9","type":"comment","z":"c9b32e78.d8125","name":"Dit geeft 255's ipv 1's","info":"","x":1020,"y":1580,"wires":[]},{"id":"d14cbfac.00c3d","type":"comment","z":"c9b32e78.d8125","name":"Dit geeft 255's ipv 1's","info":"","x":1020,"y":1540,"wires":[]},{"id":"2cae5fa5.30c3d","type":"buffer-manipulation","z":"c9b32e78.d8125","name":"","action":"replace","buffer1Field":"payload","buffer2Field":"payload","outputField":"result","arrayField":"payload","encoding":"utf8","encoding2":"binary","start":"8","start2":0,"end":"19","length":"12","fill":"3","index":"3","string":"hello world","string2":"","x":510,"y":1700,"wires":[["8d0e84d7.b02598"]]},{"id":"ca3e321f.acec1","type":"inject","z":"c9b32e78.d8125","name":"Replace in buffer","topic":"","payload":"[1,2,3,4,5,6,7,8,9,10]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":1700,"wires":[["2cae5fa5.30c3d"]]},{"id":"8d0e84d7.b02598","type":"debug","z":"c9b32e78.d8125","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":1700,"wires":[]},{"id":"387a3c35.9236f4","type":"buffer-manipulation","z":"c9b32e78.d8125","name":"","action":"resize","buffer1Field":"payload","buffer2Field":"payload","outputField":"result","arrayField":"payload","encoding":"utf8","encoding2":"binary","start":"8","start2":0,"end":"19","length":"12","fill":"3","index":"3","string":"hello world","x":510,"y":1880,"wires":[["7115714b.917dd"]]},{"id":"ecee6ead.9edf7","type":"inject","z":"c9b32e78.d8125","name":"Resize buffer","topic":"","payload":"[84,104,105,115,32,105,115,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":1880,"wires":[["387a3c35.9236f4"]]},{"id":"7115714b.917dd","type":"debug","z":"c9b32e78.d8125","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":1880,"wires":[]},{"id":"e942de7b.59de1","type":"buffer-manipulation","z":"c9b32e78.d8125","name":"","action":"split","buffer1Field":"payload","buffer2Field":"payload","outputField":"result","arrayField":"payload","encoding":"utf8","encoding2":"binary","start":"8","start2":0,"end":"19","length":"12","fill":"3","index":"3","string":"hello world","string2":"","x":510,"y":1740,"wires":[["f21a9bc1.8a4168"]]},{"id":"fbe662d1.6da0a","type":"inject","z":"c9b32e78.d8125","name":"Split buffer at delimiter","topic":"","payload":"[1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,9,10]","payloadType":"bin","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":1740,"wires":[["e942de7b.59de1"]]},{"id":"f21a9bc1.8a4168","type":"debug","z":"c9b32e78.d8125","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":1740,"wires":[]},{"id":"a4750617.1c8828","type":"comment","z":"c9b32e78.d8125","name":"Nog testen ook indien meerdere occurences","info":"","x":970,"y":1700,"wires":[]},{"id":"68b82c89.888c04","type":"comment","z":"c9b32e78.d8125","name":"Nog testen","info":"","x":860,"y":1740,"wires":[]},{"id":"9732491b.9eb148","type":"comment","z":"c9b32e78.d8125","name":"Nog testen","info":"","x":860,"y":1880,"wires":[]}]
